.header {
  margin-top: 45px;
  padding: 0 0 40px;
  border-bottom-style: solid;
  border-color: rgba(84, 84, 84, 0.7);
  width: 100%;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 573px) {
  .header {
    margin-top: 28px;
    padding-bottom: 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
